.popover {
  z-index: 10;
  padding: 5px 0;
  max-height: 260px;
  overflow-x: auto;
  overflow-x: hidden;
  min-width: 100px;
  margin: 0;
  list-style: none;
  border: 1px solid #dcdfe6;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.12);
  background: #fff;
  line-height: 26px;
  font-size: 12px;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
}
